<input [(ngModel)]='input1' (onUpdate)="valuechange($event)">
<input [(ngModel)]='input2' (onUpdate)="valuechange2($event)">
<br>
<app-about [input1]='input1' [input2]='input2'></app-about>
<br>

<input [disabled]='true' [(ngModel)]="dataGet.input12">

<!-- <input (enter)="onClick($event)" [value]="'SS'" >
<input (keydown)="onClick2($event)" [value]="'SS'" >
<input (keydown.enter)="onKeydown($event)"> -->
<hr />
<form style="background-color:cadetblue;">
    <div class="row">
        <div class="col-3">
            <div ngbDropdown>
                <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>dropdown Max</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let drop of drops">
                        <button style="width: 200px;" ngbDropdownItem
                            (click)="onClickEvent(drop.id)">{{drop.id}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3">
            <div ngbDropdown>
                <button class="btn btn-warning" id="dropdownBasic2" ngbDropdownToggle>dropdown Min</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <div *ngFor="let drop of drops">
                        <div *ngIf="drop.id == id">
                            <div *ngFor="let drop of drop.data">
                                <button style="width: 200px;" ngbDropdownItem>{{drop.value}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<form style="background-color:bisque;">
    <div class="row">
        <div class="col-3">
            <div ngbDropdown>
                <button class="btn btn-primary" id="dropdownBasic1.1" ngbDropdownToggle>dropdown Max</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1.1">
                    <div *ngFor="let drop of drops">
                        <button style="width: 200px;" ngbDropdownItem
                            (click)="onClickEvent(drop.id)">{{drop.id}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-drop-d [id]="id"></app-drop-d>

</form>

<p>---------</p>

<br>


<hr />
<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(NgbdModalContent)">Launch demo modal</button> -->

<!-- <ng-template #NgbdModalContent>
    <div class="modal-header">
        <h4 class="modal-title">Hi there!</h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Hello, {{dataGet.input12}}!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark">Close</button>
    </div>
</ng-template> -->